In [2]:
import pandas as pd
import datetime
from datetime import datetime

In [3]:
file_to_load = "Resources/indep.csv"

In [4]:
head_to_load = "Resources/pas2_header_file.csv"

In [5]:
df = pd.read_csv(head_to_load)

In [6]:
df_column_names = list(df.columns)
df_column_names

['CMTE_ID',
 'AMNDT_IND',
 'RPT_TP',
 'TRANSACTION_PGI',
 'IMAGE_NUM',
 'TRANSACTION_TP',
 'ENTITY_TP',
 'NAME',
 'CITY',
 'STATE',
 'ZIP_CODE',
 'EMPLOYER',
 'OCCUPATION',
 'TRANSACTION_DT',
 'TRANSACTION_AMT',
 'OTHER_ID',
 'CAND_ID',
 'TRAN_ID',
 'FILE_NUM',
 'MEMO_CD',
 'MEMO_TEXT',
 'SUB_ID']

In [7]:
df2 = pd.read_csv(file_to_load, header = None)

/Users/davidlopez/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,C00567180,T,TER,P,2.020000e+17,24K,PAC,TED YOHO FOR CONGRESS,GAINESVILLE,FL,...,NaN,1082019.0,1880,C00494583,H2FL06109,SB23.4447,1303604,NaN,NaN,4.020000e+18
1,C00104885,A,TER,P,2.020000e+17,24K,CCM,FRIENDS OF JIM CLYBURN,COLUMBIA,SC,...,NaN,1072019.0,470,C00255562,H2SC02042,SB23.17755,1307636,NaN,NaN,4.020000e+18
2,C00104885,A,TER,G,2.020000e+17,24K,CCM,TEAM GRAHAM INC,COLUMBIA,SC,...,NaN,12202018.0,3000,C00458828,H4SC03087,SB23.17757,1307636,NaN,NaN,4.020000e+18
3,C00104885,A,TER,P,2.020000e+17,24K,CCM,TIM SCOTT FOR SENATE,CHARLESTON,SC,...,NaN,12202018.0,1000,C00540302,H0SC01279,SB23.17756,1307636,NaN,NaN,4.020000e+18
4,C00688408,T,TER,G2018,2.020000e+17,24E,ORG,JACKSON ADVOCATE,JACKSON,MS,...,NaN,12122018.0,1000,S8MS00287,S8MS00287,SE.4233,1310906,NaN,NaN,4.020000e+18

In [9]:
df2.columns = df_column_names

In [10]:
df2.index.name = "Index"

In [11]:
df2['TRANSACTION_DT'] = pd.to_datetime(df2['TRANSACTION_DT'], format="%m%d%Y")

In [12]:
df2.head()

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,CAND_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
Index,,,,,,,,,,,,,,,,,,,,,
0,C00567180,T,TER,P,2.020000e+17,24K,PAC,TED YOHO FOR CONGRESS,GAINESVILLE,FL,...,NaN,2019-10-08,1880,C00494583,H2FL06109,SB23.4447,1303604,NaN,NaN,4.020000e+18
1,C00104885,A,TER,P,2.020000e+17,24K,CCM,FRIENDS OF JIM CLYBURN,COLUMBIA,SC,...,NaN,2019-10-07,470,C00255562,H2SC02042,SB23.17755,1307636,NaN,NaN,4.020000e+18
2,C00104885,A,TER,G,2.020000e+17,24K,CCM,TEAM GRAHAM INC,COLUMBIA,SC,...,NaN,2018-12-20,3000,C00458828,H4SC03087,SB23.17757,1307636,NaN,NaN,4.020000e+18
3,C00104885,A,TER,P,2.020000e+17,24K,CCM,TIM SCOTT FOR SENATE,CHARLESTON,SC,...,NaN,2018-12-20,1000,C00540302,H0SC01279,SB23.17756,1307636,NaN,NaN,4.020000e+18
4,C00688408,T,TER,G2018,2.020000e+17,24E,ORG,JACKSON ADVOCATE,JACKSON,MS,...,NaN,2018-12-12,1000,S8MS00287,S8MS00287,SE.4233,1310906,NaN,NaN,4.020000e+18

In [13]:
df2.to_csv('Exports/indep_expend_with_header.csv')